
/* containers */

.container {
    width: 100%;
    padding: 16px;
  }

  
:root {
    --type-heading-1: 1.8rem;
    --type-heading-2: 1.6rem;
    --type-heading-3: 2rem;
    --type-article-p: 1rem;
    --margin-tb-8: 2rem 0;
    --type-article-p-2: 1.5rem; 
}

.heading-1 {
    font-size: var(--type-heading-1);
    font-weight: bold;
}

.heading-2 {
    font-size: var(--type-heading-2);
    font-weight: semibold;
    text-align: center;
    padding-bottom: 10px;
}

.heading-3 {
    font-size: var(--type-heading-3);
    padding-bottom: 10px;
    line-height: 23px;
    

}

.paragraph {
    font-size: var(--type-article-p);
    text-align: center;
}

.paragraph-2 {
    font-size: var(--type-article-p-2);
    line-height: 25px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

  @media screen and (min-width: 768px) {
    :root {
        --type-heading-1: 2.5rem;
        --type-heading-2: 2.0rem;
        --type-article-p: 1.2rem;
    }
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }    
  }


  @media screen and (min-width: 48em) {
   
  }



