/* containers */

html,
body {
  width: 100%;
}

.container {
  width: 100%;
  padding: 16px;
}

:root {
  --type-heading-1: 1.8rem;
  --type-heading-2: 1.6rem;
  --type-heading-3: 2rem;
  --type-article-p: 1rem;
  --margin-tb-8: 2rem 0;
  --type-article-p-2: 1.5rem;
  --type-heading-1: 1rem;
  --type-heading-2: 1rem;
  --type-heading-3: 2rem;
  --type-article-p: 1rem;
  --margin-tb-8: 2rem 0;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --line-height-h1: 1.2rem;
  --line-height-p: 1.6rem;
  --line-height-xs-p: 2rem;
  --type-article-p-2: 1.5rem;
  --type-article-p-1: 1rem;
  --type-article-p-0-7-5: 0.75rem;
  --accent-color: hsla(0, 96%, 52%, 0.718);
}

.container-xl {
  max-width: 1280px;
  padding: 16px;
}

.heading-contact {
  font-size: var(--type-heading-3);
}

.heading-1 {
  font-size: var(--type-heading-1);
  font-weight: bold;
}

.heading-2 {
  font-size: var(--type-heading-2);
  font-weight: semibold;
  text-align: center;
  padding-bottom: 10px;
}

.heading-3 {
  font-size: var(--type-heading-3);
  padding-bottom: 10px;
  line-height: 23px;
}

.paragraph {
  font-size: var(--type-article-p);
  text-align: center;
  word-wrap: break-word;
  padding: 6px;
}

.paragraph-2 {
  font-size: var(--type-article-p-1);
  line-height: 25px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

.popup-container {
  position: fixed;
  top: 20px;
  color: white;
  z-index: 100000;

  border-radius: 5px;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup-red {
  padding: 10px 20px;
  background-color: red;
}

.popup-green {
  padding: 10px 20px;
  background-color: green;
}

@media screen and (min-width: 768px) {
  :root {
    --type-heading-1: 2.5rem;
    --type-heading-2: 2rem;
    --type-article-p: 1.2rem;
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .facebook-floating {
    position: fixed;
    top: 120px;
    right: 0;
    z-index: 100000;
    padding: 16px;
    background-color: white;
    border-radius: 50%;
  }
}

@media screen and (min-width: 48em) {
}
