:root {
  --type-sm-heading-1: 1.4rem;
  --type-sm-heading-2: 1.2rem;
  --type-sm-heading-3: 1rem;

  --type-xl-heading-1: 4.8rem;
  --type-xl-heading-2: 2rem;
  --type-xl-article-p: 1.2rem;

  --type-article-p: 2.4rem;
  --margin-tb-8: 2rem 0;
  --type-article-p-2: 1.5rem;
  --type-article-p: 1rem;
  --margin-tb-8: 2rem 0;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --line-height-h1: 1.2rem;
  --line-height-p: 1.6rem;
  --line-height-xs-p: 2rem;
  --type-article-p-2: 1.5rem;
  --type-article-p-1: 1rem;
  --type-article-p-0-7-5: 0.75rem;
  --accent-color: hsla(0, 96%, 52%, 0.718);
  --font-family-secondary: "Clan pro", sans-serif;
  --font-family-primary: "Montserrat", sans-serif;
}

html,
body {
  font-size: 16px;
  width: 100%;
}

body {
  color-scheme: light dark;
  overflow-x: hidden;
  padding: 0;
  font-family: var(--font-family-secondary);
}

.heading-contact {
  font-size: var(--type-heading-3);
}

.heading-1 {
  font-size: var(--type-sm-heading-1);
  font-family: var(--font-family-primary);
  letter-spacing: -0.12rem;
  font-weight: 700;
}

.max-w-1-2 {
  max-width: 50%;
}

.heading-2 {
  font-size: var(--type-sm-heading-2);
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  font-family: var(--font-family-primary);
}

.heading-3 {
  font-size: var(--type-sm-heading-3);
  padding-bottom: 10px;
  line-height: 23px;
  font-family: var(--font-family-primary);
}

.paragraph {
  font-size: var(--type-article-p);
  word-wrap: break-word;
  line-height: 1.4rem;
}

.paragraph-2 {
  font-size: var(--type-article-p-1);
  line-height: 25px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

.popup-container {
  position: fixed;
  top: 20px;
  color: white;
  z-index: 100000;

  border-radius: 5px;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup-red {
  padding: 10px 20px;
  background-color: red;
}

.popup-green {
  padding: 10px 20px;
  background-color: green;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.invert-color {
  color: #fff;
}

.z-50 {
  z-index: 50;
}

hr {
  display: block;
  width: 4rem;
  height: 0.1rem;
  background-color: var(--bg-color-0);
  border: none;
  border-radius: 1.6rem;
  margin: 2.4rem 0;
}

.button:hover {
  background-color: var(--bg-color-0hover);
}

.button {
  font: 700 var(--type-sm-heading-3) var(--font-family-primary);
  letter-spacing: -0.02rem;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--bg-color-0);
  border-radius: 6.4rem;
  transition: background-color 0.3s ease-in-out;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .facebook-floating {
    position: fixed;
    top: 150px;
    right: 0;
    z-index: 100000;
    padding: 16px;
    background-color: white;
    border-radius: 50%;
  }

  .heading-1 {
    font-size: var(--type-xl-heading-1);
  }

  .heading-2 {
    font-size: var(--type-xl-heading-2);
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
    margin: 0 auto;
  }
}
