html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

img,
svg, png {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li, a {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* typography */

:root {
    --ff-prime: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --fs-0-5: 10px;
    --fs-1: 1rem;
    --fs-1-5: 1.5rem;
    --fs-2: 2rem;
    --fw-600: 600;
    --color-black: #000;
    --color-white: #fff;
    --bg-color-lightgrey: #EDF2F7;
    --bg-color-0: #007dbf;
    --bg-color-0hover: #0276b4;
    --bg-color-dark: #141414;
    --color-grey:#808080;
    --color-dark-grey: #231F20;
    --bg-clolor7: hsla(231, 50%, 40%, 0.866);
    --margin-tb-8: 2rem 0;
}

/* header section */

.header-section {
  background-position: 50% 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 60px;
}

.header {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .logo img {
    line-height: 60px;
    width: 100px;
    height: auto;
    display: inline-block;
    padding: 5px;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.contact-info img {
  max-width: 16px;
  height: auto;
  margin-right: 4px;
}

.contact-info img#facebook {
  max-width: 32px;
}

.contact-info li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
}

.contact-info a {
  display: flex;
  align-items: center;
  color: var(--color-dark-grey);
}

.contact-icon {
  width: 23px;
  height: auto;
}
/* scroll-arrow */

.scroll-arrow {
  position: fixed;
  right: 16px;
  padding: 10px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  border-radius: 50px;
  bottom: 16px;
  z-index: 1000;
  transform: rotate(180deg)
}

.scroll-arrow > img {
  width: 16px;
  height: 16px;
}

.arrow {
  max-width: 25px;
  height: auto;
  float: right;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  border: none; 
}

/* hero */

.hero h1 {
  font-family: var(--ff-prime);
  text-align: center;
  color: var(--color-dark-grey);
}

.heading-1 span {
  color: var(--bg-color-0);
}

.color-blue {
  color: var(--bg-color-0);
  font-weight: bold;
}

.hero h2 {
  color: var(--color-white);
  line-height: 25px;
}

/* navigation */
.navigation-wrapper {
 padding: 8px 16px;
 margin: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    cursor: pointer;  
}

.nav-links a {
  color: var(--color-dark-grey);
  font-size: 12px;
}

.nav-links li {
    position: sticky;
    cursor: pointer;
}



/*  */

.slang h2 {
  color: var(--color-white);
  position: absolute;
}

.slang strong {
  color: red;
}

/* main */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  margin: var(--margin-tb-8);
}

.main-card {
 
  max-width: 80px;
  height: auto;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  border-radius: 10px;
}

.main-card img {
  max-width: 80px;
}

#O_nas, #Oferta, #Szkolenia, #Niezbędnik, #Galeria, #Kontakt {
  scroll-margin-top: 120px; /* Dostosuj wartość w zależności od wysokości nagłówka */
}

/* swiper slide */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */
.app {
  display: flex;
  flex-direction: column;
 gap: 5px;
 padding-top: 10px;
}

.app img {
  max-width: 150px;
}

.footer-logo {
  padding-top: 5px;
}

.tapo24 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 60px;
  padding: 1px;
  border-radius: 10px;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  font-size: var(--fs-0-5);
  border: 0.15px solid var(--bg-color-lightgrey);
}

.tapo24 p {
  font-size: 15px;
}

.app-links img {
  max-width: 100px;

}

.app-links a {
  cursor: pointer;
}

/* app-card */

.app-links {
  -webkit-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);;
  max-width: 400px;
  padding: 20px;
}

/* app section */
.apps {
  display: flex;
} 

.apps a {
  flex: 1 1 20%;
  margin-right: 16px;
}

.accent {
  color: var(--bg-color-0);
}

/* contact */

.phone-num {
  font-weight: 700;
  line-height: 48px;
  font-size: 2rem;
  padding-top: 30px;
  padding-left: 20px;
  text-decoration: none;
}

.contact {
  position: relative;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 9999px;
  background-color: var(--bg-color-0);
  position: absolute;
  z-index: -1;
 top: 310px;
}

.bg-blue {
  color: var(--bg-color-0);
}

/* form */

.custom-form {
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 80px;
  padding-bottom: 100px;
}

.custom-form .form-group {
  margin-bottom: 15px;
}

.custom-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--bg-color-lightgrey);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  color: var(--bg-color-dark);
}

.custom-form input:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.custom-form button {
    width: 100%; 
    padding: 10px;
    font-size: 1em; 
    background-color: var(--bg-color-0); 
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.custom-form button:hover {
  background-color: var(--bg-color-0hover);
}

.required {
  color: red;
}

.form-group textarea {
  width: 100%;
  height: auto;
  border: none;
  outline: var(--bg-color-lightgrey) solid 2px;
  border-radius: 3px;
}

/*  */

.bg-dark {
  background-color: var(--bg-color-dark);
  color: var(--color-grey);
  display: flex;
  padding: 5px;
  gap: 10px;
}

.bg-dark img {
  max-width: 50px;
  height: auto;
  /* padding-top: 4px; */
}

.bg-dark p {
  font-size: var(--fs-0-5);
}











