html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

img,
svg, png {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li, a {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* typography */

:root {
    --ff-prime: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --fs-0-5: 10px;
    --fs-1: 1rem;
    --fs-1-5: 1.5rem;
    --fs-2: 2rem;
    
    --fw-600: 600;
    --color-black: #000;
    --color-white: #fff;
    --bg-clolor1: #334297;
    --bg-color2: #0061ae;
    --bg-color3: #007bb6;
    --bg-color4: #0092b1;
    --bg-color5: #00a7a5;
    --bg-color6: #50b99a;
    --bg-clolor7: hsla(231, 50%, 40%, 0.866);

    --margin-tb-8: 2rem 0;
}

/* header section */

.header-section {
  background-image: url(image/image\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px; /* Dostosuj wysokość według potrzeb */
  padding-top: 80px;
  padding-bottom: 60px;
}

.header {
  background-color: #555;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

  

.header .logo img {
    line-height: 60px;
    width: 100px;
    height: auto;
    display: inline-block;
    padding: 5px;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--ff-secondary);
  gap: 10px;
}

.contact-info li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
 
}

.contact-info a {
  display: flex;
  align-items: center;

}



.contact-icon {
  width: 23px;
  height: auto;
}
/* scroll-arrow */

.scroll-arrow {
  position: fixed;
  right: 16px;
  padding: 16px;
  background-color: red;
  bottom: 16px;
  z-index: 1000;
  transform: rotate(180deg)
}

.scroll-arrow > img {
  width: 16px;
  height: 16px;
}

.arrow {
  max-width: 25px;
  height: auto;
  float: right;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  border: none;
  
}

/* hero */

.hero {
  position: relative;
}

.hero h1 {
  font-family: var(--ff-prime);
  text-align: center;
 
}

/* navigation */
.navigation-wrapper {
 padding: 2px;
 margin: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-links a {
  /* color: var(--color-white); */
}

.nav-links li {
    position: sticky;
    cursor: pointer;
   
}



/*  */

.slang h2 {
  color: var(--color-white);
  position: absolute;

}

.slang strong {
  color: red;
}

/* main */

.main-container {
  
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  margin: var(--margin-tb-8);
}

.main-card {
 
  width: 190px;
  height: auto;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  box-shadow: 0px 8px 24px 0px rgba(202, 203, 216, 1);
  border-radius: 20px;
}




/* swiper slide */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */

.flex {
  display: flex;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: min(20rem, 100%);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

input,
button {
  padding: 0.5rem 0.75rem;
}

input::placeholder {
  font-size: 1rem;
}

button {
  cursor: pointer;
  background-color: hsl(175 60% 40%);
  border: 0;
  border-radius: 0.25rem;
}





