/* global settgings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color-scheme: light dark;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: montserrat;
  /* ewentualnie usunac text decoration */
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li,
a {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--color-black);
}

/* typography */

:root {
  --fs-0-5: 0.5rem;
  --fs-1: 1rem;
  --fs-1-5: 1.5ren;
  --fs-2: 2rem;
  --fs-3: 3rem;
  --fs-3-5: 3.5rem;
  --fw-600: 600;
  --font-family: "Montserrat", sans-serif;
  --color-black: #000;
  --color: #fff;
  --padding-08: 8px;
  --bg-clolor: #334297;
  --bg-color: #0061ae;
  --bg-color: #007bb6;
  --bg-color: #0092b1;
  --bg-color: #00a7a5;
  --bg-color: #50b99a;
  --type-article-p-0-7-5: 0.75rem;
}

@media screen and (min-width: 20em) {
  .phone-num {
    margin: 0;
  }

  .contact-info a {
    font-size: 0.45rem;
  }

  .header .logo img {
    padding: 2px;
    /* max-width: 50px; */
  }

  .contact-info {
    gap: 10px;
  }

  .app-container {
    flex-direction: column;
  }

}

@media screen and (max-width: 23em) {
  .container {
    max-width: 100%;
    padding: 5px;
  }
  .container-xl {
    max-width: 100%;
    padding: 2px;
  }

  .logo {
    max-width: 75px;
  }

  .header-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-content img {
    max-width: 80px;
  }

  .main-card {
    max-width: 80px;
  }

  .paragraph {
    font-size: var(--type-article-p-0-5);
  }

  .hero {
    padding: 30px;
  }

  .nav-links a {
    justify-content: space-between;
    gap: 20px;
    font-size: var(--fs-0-5);
  }
  .contact-icon img {
    width: 10px;
    height: auto;
  }

  .contact-info {
    gap: 30px;
  }

  /* .header-section {
    background-size: contain;
  } */

  .circle {
    width: 125px;
    height: 125px;
    top: 302px;
  }
  .phone-num {
    font-size: 45px;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
  }

  .app {
    flex-direction: column;
  }


  .app  img {
    max-width: 100px;
  }

  .tapo24 {
    max-width: 100px;
  }

  .tapo24 p {
    font-size: 15px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom:0.75rem;
    margin: 0;
    border-radius: 0.5px;
  }

  .app-content .paragraph-2 {
    font-size: var(--type-article-p-0-7-5);
  }

  .accent {
    color: var(--bg-color-0);
    font-size: 1rem;
    line-height: 10px;
  }

  .heading-3 {
    font-size: 1rem;
    line-height: 10px;
    padding-top: 25px;
  }

}


@media screen and (min-width: 48em) {
  .container {
    max-width: 100%;
    padding: 16px;
  }

  .container-xl {
    max-width: 100%;
    padding: 2px;
  }

  .contact-info li {
    font-size: var(--fs-1);
    padding: var(--padding-08);
  }

  .nav-links a {
    font-size: var(--fs-1);
    padding: var(--padding-08);
  }

  .logo img {
    max-width: 70px;
   
    
  }

  .contact-info {
    justify-content: flex-start;
    gap: 70px;
  }

  .contact-icon {
    width: 30px;
  }

  .header {
    width: 100%;
  }

  .hero {
    width: 100%;
    height: 48em;
  }

  .hero::after {
    height: 50px;
  }


  .main-section {
    display: flex;
    flex-wrap: wrap;
    --webkit-box-pack: justify;
    justify-content: space-between;
  }

  .main-content {
    flex: 1 1 45%;
    max-width: 370px;
  }

  .footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .contact, 
  .custom-form {
    flex: 1 1 50%;
  }
  .heading-contact {
    font-size: var(--fs-3-5);
  }

  .heading-3 {
    line-height: 25px;
  }

  .paragraph-2 {
    padding-bottom: 10px;
  }

  .app-container {
    display: flex;
    flex-direction: row;
  }


  .circle {
    top: 345px;
  }

  .bg-dark {
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-top: 20px;
  }

  .app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .footer-logo img {
     max-width: 150px;
  }

  .app img{
    max-width: 150px;
  }

  .tapo24 {
    max-width: 150px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .tapo24 p {
    padding-top: 5px;
  }

  .phone-num {
    font-size: 46px;
  }

  .formal-info {
    display: flex;
    gap: 1rem;
  }

  .contact-info a {
    font-size: var(--fs-1);
  }

  


}

@media screen and (min-width: 64em) {
  .formal-info p {
    font-size: var(--fs-1-5);
  }

  .app {
    padding-top: 100px;
  }
}


@media screen and (min-width: 160em) {
  


  .footer-container {
    margin-bottom: 45px;
  }

  .circle {
    top: 290px;
  }

  .formal-info p {
    font-size: var(--fs-2);
    padding-right: 16px;
  }

}



