.nav-links a[data-active="1"] {
  border-bottom: 1px solid var(--bg-color-0);
}

.nav-links a {
  padding: 8px 0px;
}

.logo {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
